
* { 
    touch-action: pan-y; 
}
body {
	font-family: Montserrat, "Open Sans", Roboto, Arial, Verdana, Helvetica, 'Microsoft Yahei', Lato, sans-serif;
	font-size: 14px;
	color: #282828;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	outline: none!important;
	color: #282828;
}
a:hover, a:active {
	color: #B61F28;
	text-decoration: none;
}
.dark-title a {
	color: #fff;
}
.dark-title a:hover, .dark-title a:active {
	color: #1cbac8;
}
.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
#search .btn span {
	font-size: 13px;
}
.site-header .header-info ul {
	padding-bottom: 0;
}
.site-header .main-header .logo {
	line-height: 100px;
	padding-right: 30px;
}
.site-header .header-info ul li:last-child a {
	font-size: 12px;
	letter-spacing: normal;
}
.logo img {
	max-height: 88px;
}
nav.main-navigation ul li {
	padding: 20px 12px;
}
nav.main-navigation ul a {
	font-weight: bold;
}
nav.main-navigation ul li:last-child i {
	margin-top: 24px;
}
nav.main-navigation ul li ul.sub-menu li {
	margin: 5px 0;
	padding: 0 0 10px;
}
nav.main-navigation ul li ul.sub-menu li a {
	font-size: 13px;
}
nav.main-navigation ul li ul.sub-menu {
	width: auto;
	min-width: 220px;
}

nav.main-navigation .sub-menu .Lev2 {
	position: relative;
}
nav.main-navigation .sub-menu .dr-menu3 {
	display: none !important;
	left: 100%;
	top: -10px;
	min-width: 195px;
}
nav.main-navigation .sub-menu .Lev2:hover .dr-menu3 {
	display: block !important;
}
.slider-2 .first-line {
	background-color: transparent;
}
.slider-2 .first-line .slide-caption i, .slider-2 .first-line .slide-caption span {
	font-size: 18px;
}
.slider-2 .first-line .slide-caption p {
	font-size: 16px;
}
.section-heading h1 {
	margin-bottom: 25px;
}
    .section-heading h1 a {
        padding-bottom: 10px;
        border-bottom: solid 3px #77B1E3;
    }
#index-widget {
	padding-bottom: 20px;
}
.welcome-intro-2 .welcome-to-educa {
	margin-left: 10px;
}
.welcome-intro-2 .service-item {
	margin-bottom: 20px;
}
.welcome-intro-2 .service-item h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
}
.welcome-intro-2 .service-item i {
	font-size: 22px;
	margin-top: 20px;
}
.welcome-intro-2 .service-item p {
	margin-left: 80px;
	line-height: 1.9;
}
section {
	padding: 0;
}
.section-pad {
	padding: 45px 0;
}
.container-position {
    margin-bottom:30px;
}
#index-portfolio {
    padding-bottom: 40px;
}
#index-portfolio .course-item {
	margin: 0;
	padding: 0 15px;
}
#index-portfolio .iport-title {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0;
	margin: 0;
	padding: 20px 20px 15px 20px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.popular-courses .section-heading h1 {
	margin-bottom: 25px;
}
.popular-courses .section-heading p, .read-books .section-heading p {
	padding-bottom: 20px;
}
.popular-courses .course-item .down-content .desc {
	padding: 0 20px 20px 20px;
	margin-bottom: 0;
}
.popular-courses .course-item .down-content {
	margin-top: 0px;
}
.popular-courses .course-item .down-content .price-red {
	margin-top: -3px;
}
.popular-courses .course-item .down-content .price-red .base {
	margin-top: -24px;
}
.popular-courses .course-item .down-content .text-button {
	text-align: center;
	display: none;
}
.text-button a {
	font-size: 13px;
}
#index-case .books-item {
	padding: 15px;
}
#index-case .books-item  p.thumb-link{
	line-height: 200px;
}
#index-case .books-item img {
	width: 100%;
}
#index-case .books-item h4 {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	font-size: 16px;
}
#index-news {
	background: #F2F5F6;
}
#index-news .inews-title {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	line-height: 1.4;
	margin-top: 15px;
}
#index-platform{

	position: relative;
}
.university-news .section-heading p {
	padding-bottom: 0px;
}
.university-news .news-item .right-content {
	background: #fff;
}
.university-news .news-item .right-content .line-dec {
	background-color: #ddd;
}
.university-news .news-item .thumb-holder .hover-content {
	width: 100%;
	font-size: 22px;
}
.university-news .news-item .right-content .line-dec {
	margin-top: 20px;
	margin-bottom: 15px;
}
.university-news .news-item .right-content {
	height: 194px;
	padding: 0 20px 3px;
}
.university-news .news-item .right-content p {
	padding-bottom: 0;
	margin-bottom: 0;
}
footer {
	padding: 0;
}
#footer-sec {
	padding: 40px 0 0;
}
#footer-sec .footer-widget .featured-links ul, #footer-sec .footer-widget .featured-links ul:last-child {
	margin-left: 0;
}
#footer-sec .footer-widget h2 {
	font-weight: bold;
}
.foot-about .text-button {
	display: none;
}
.foot-about{
	width:30%;
}
.fabout, .fabout p {
	line-height: 2;
	color:#fff;
	padding: 15px;
}
.fabout .fabout-wx{

	display: block;
	text-align: center;
	width:45%;
	float: left;
	margin-right: 10px;
}
.fabout .fabout-wx img{
	width: 100%;
}
footer .footer-widget .featured-links ul {
	display: block;
}
footer .footer-widget .featured-links ul li {
	margin: 0 0 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px #3F5058 dashed;
}
footer .footer-widget .featured-links ul li:last-child {
	border-bottom: none;
}
footer .footer-widget .university-address ul li {
	margin-bottom: 9px;
	display: block;
}
footer .footer-widget .university-address ul li i {
	width: 20px;
}
footer .footer-widget .university-address ul li i.fa-mobile {
	font-size: 22px;
}
#footer-sec .copyright-menu {
	margin-top: 30px;
}
#footer-sec .copyright-menu .copyright-text p, #footer-sec .copyright-menu .menu ul li a {
	font-size: 14px;
}
.copyright-text b {
	color: #F5A425;
}
/* 内页 */
.noDis {
    display: none;
}
.search-tips {
	color: #f00;
	font-size: 16px;
	text-align: center;
}
.page-content {
	line-height: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.page-content p {
	margin-bottom: 0;
	line-height: 1.6;
	color: inherit;
}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	margin: 0;
	padding: 0;
	line-height: 2.0;
}
.search-tips {
	color: #f00;
	font-size: 16px;
	text-align: center;
}
em.error {
	overflow: hidden;
	zoom: 1;
	background: url("../images/unchecked.gif") no-repeat 0px 0px;
	padding-left: 19px;
	color: red;
}
em.success {
	overflow: hidden;
	zoom: 1;
	background: url("../images/checked.gif") no-repeat 0px 0px;
	padding-left: 19px;
	color: red;
}
.com-cnt table th {
	font-weight: bold;
	background: #f9f9f9
}
.com-cnt table th, .com-cnt table td {
	border: 1px #eee solid;
	padding: 6px 12px;
}
.com-cnt img {
	max-width: 100%;
}
#pages {
	clear: both;
	padding: 10px 0 10px;
	text-align: center;
	font: 12px 'Microsoft YaHei';
}
#pages a {
	display: inline-block;
	padding: 0px 8px;
	height: 24px;
	font-size: 12px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #e3e3e3;
	text-align: center;
	color: #333;
	margin-right: -1px;
}
#pages a.a1 {
	padding: 0px 12px;
	height: 24px;
	line-height: 22px;
	margin-top: 0px;
}
#pages a:hover {
	background: #f1f1f1;
	color: #000;
	text-decoration: none;
}
#pages span {
	display: inline-block;
	padding: 0px 8px;
	height: 24px;
	line-height: 22px;
	background: #5a85b2;
	border: 1px solid #5a85b2;
	color: #fff;
	text-align: center;
}
.page .noPage {
	display: inline-block;
	padding: 0px 12px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #e3e3e3;
	text-align: center;
	color: #a4a4a4;
}
.pageright {
	margin-right: 40px;
}
@media (max-width : 420px) {
#pages .prev, #pages .next {
	display: none;
}
}
/* 可移植内页样式 */
.for-bottom-padding-no {
	padding-top: 45px;
	clear: both;
}
.text-center {
	text-align: center;
}
.sidebar .widget:last-child {
	margin-bottom: 0;
}
.entry-header {
	background: none;
	box-shadow: none;
	padding-top: 0;
	border: none;
}
.prolist-wrap .glass-animation img {
	border: 1px #ededed solid;
}
.s-contact {
	color: #555;
	line-height: 1.6;
}
.sidebar .widget {
	margin-top: 0;
}
.entry-meta li:before {
	margin: 0;
}
#innerpage-wrap {
	background: #fff;
	padding: 45px 0;
	clear: both;
}
.breadcrumb-wrapper {
	background: #F4F4F4;
	padding: 30px 0;
}
.breadcrumb-section .bc-cat {
	padding-top: 16px;
	position: relative;
	top: 2px;
}
.bcid-cat {
	font-size: 16px;
	font-weight: bold;
}
.location {
	text-align: right;
}
.widget .tagcloud a, .tags-list a, .searchform #searchsubmit {
	transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.searchform {
	overflow: hidden;
	background-color: #f16543; /* firefox 19+ */ /* ie */
}
.searchform ::-webkit-input-placeholder {
color: #ffffff;
}
.searchform ::-moz-placeholder {
color: #ffffff;
}
.searchform :-ms-input-placeholder {
color: #ffffff;
}
.searchform input:-moz-placeholder {
color: #ffffff;
}
.searchform #s, .searchform #searchsubmit {
	color: #ffffff;
	height: 48px;
	border: none;
	background-color: #B3813C;
	margin-bottom: 0;
	border-radius: 0;
}
.searchform #s {
	float: left;
	width: 85%;
	padding-left: 20px;
	padding-right: 0;
}
.searchform .screen-reader-text {
	display: none;
}
.searchform #searchsubmit {
	float: right;
	width: 15%;
	padding-left: 0;
	padding-right: 0;
	background-image: url("../images/icon-lense.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.searchform #searchsubmit:hover {
	background-color: #373c40;
}
.searchform {
	background: none;
	border: none;
}
.searchform #s {
	background: none;
	color: #444;
	border: 1px #ddd solid;
	border-right: none;
}
.searchform #searchsubmit {
	background-color: #A12C2F;
}
.searchform ::-webkit-input-placeholder {
color: #444;
}
.searchform ::-moz-placeholder {
color: #444;
}
.searchform :-ms-input-placeholder {
color: #444;
}
.searchform input:-moz-placeholder {
color: #444;
}
.widget ul li:before {
	display: none;
}
.widget-category ul li:before {
	font-family: 'FontAwesome';
	content: "\f101";
	padding-right: 17px;
}
.sidebar .widget .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #151A92;
	padding: 15px 10px 15px 40px;
	margin-bottom: 0px;
}
.sidebar .widget .title a{
	color:#fff;
}
.sidebar .widget ul li {
	border-bottom: 1px solid #d3dae0;
	padding: 6px 0 6px 0;
	font-size: 14px;
	color: #6e7375;
}
.sidebar .widget ul li a {
	color: #373c40;
	color: #6e7375;
}
.sidebar .widget ul li a:hover {
	color: #f16543;
}
.sidebar .widget ul li ul {
	padding: 6px 0 0;
}
.sidebar .widget ul li ul li:first-child {
	border-top: 1px solid #dedede;
}
.sidebar .widget ul li ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.widget .title {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 22px;
	margin-top: 0;
}
.widget ul {
	list-style: none;
	margin: 0;
}
.widget ul li ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.widget .gallery-post-slider ul li {
	border: none;
	background: none;
	padding: 0;
}
.widget .tabbed .tabs {
	margin: 0;
	padding: 0;
}
.widget .tabbed .tabs li {
	float: left;
	list-style: none;
	margin: 0;
	background-image: none;
	border: none;
	padding: 10px 1px 10px;
	width: 33.333%;
	color: #878c90;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-right: 1px solid #d3dae0;
}
.widget .tabbed .tabs li:last-child {
	border-right: none;
}
.widget .tabbed .tabs li:hover, .widget .tabbed .tabs li.current {
	color: #ffffff;
	background-color: #f16543;
	border-right: 1px solid #f16543;
	border-bottom: 1px solid #f16543;
	margin-bottom: -1px;
}
.widget .tabbed .block {
	margin: 0;
	display: none;
}
.widget .tabbed .block.current {
	display: block;
	padding: 22px 0 0;
	border-top: 1px solid #d3dae0;
}
.widget .tabbed .widget-list li {
	background: none;
	border-bottom: 1px solid #E8E9EF;
	padding: 0 0 20px;
	margin-bottom: 25px;
	line-height: 1.0;
}
.widget .tabbed .widget-list li .link-read-more {
	color: #f16543;
}
.widget .tabbed .widget-list li .link-read-more:hover {
	color: #373c40;
}
.widget .tabbed .widget-list li .link-read-more:hover:after {
	color: #373c40;
}
.widget-list li {
	overflow: hidden;
	margin-bottom: 20px;
}
.widget-list li:last-child {
	border-bottom: none;
}
.widget-list li h5 {
	margin: 0 0 9px;
	line-height: 21px;
	color: #a5aaae;
	font-size: 13px;
	font-weight: normal;
}
.widget-list li figure {
	float: left;
	margin-right: 22px;
	margin-bottom: 0;
}
.widget-list li figure img {
	width: 102px;
	height: 104px;
}
.widget-list li span {
	display: inline-block;
	font-size: 12px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left 3px;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.widget-list li .comments {
	background-image: url("../images/icon-chat-3.png");
	background-position: left 3px;
	margin-right: 18px;
	margin-bottom: 0;
}
.widget-list li .author {
	background-image: url("../images/icon-user.png");
	background-position: left 3px;
	padding-left: 17px;
}
.widget-list li .link-read-more {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
}
.widget-list li .link-read-more:after {
	content: " \f101";
	font-family: FontAwesome;
	color: #f16543;
}
.widget .tagcloud {
	overflow: hidden;
	margin-left: -4px;
	margin-right: -4px;
}
.widget .tagcloud a {
	display: block;
	float: left;
	padding: 6px 15px;
	color: #84898b;
	background-color: #ecf0f3;
	font-size: 14px;
	margin: 4px;
	text-decoration: none;
}
.widget .tagcloud a:hover {
	color: #ffffff;
	background: #f16543;
}
.glass-animation:hover .glass span {
	-webkit-transition-delay: .2s; /* Safari */
	transition-delay: 0s;
	opacity: 1;
	width: 30px;
	height: 30px;
	border-radius: 200px;
}
.glass-animation:hover .glass span i {
	right: -14px;
	bottom: -7px;
	-webkit-transition-delay: .2s; /* Safari */
	transition-delay: .2s;
}
.glass-animation:hover .background {
	height: 100%;
	width: 100%;
	opacity: .7;
}
.glass-animation .background {
	transition: 0.3s all ease-in-out;
	width: 100;
	height: 100;
	background: #f16543;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
}
.glass-animation .glass {
	display: block;
	transition: 0.2s all ease-in-out;
}
.glass-animation .glass > span {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: 0.2s all ease-in-out;
	-webkit-transition-delay: 0s; /* Safari */
	transition-delay: 0s;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: block;
	border: 5px solid #ffffff;
}
.glass-animation .glass > span i {
	transition: 0.2s all ease-in-out;
	-webkit-transition-delay: 0s; /* Safari */
	transition-delay: 0s;
	position: absolute;
	right: -200px;
	bottom: -200px;
	display: inline-block;
	width: 18px;
	height: 5px;
	background: #ffffff;
	border-radius: 10px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}
.breadcrumb-section {
	background: url(../images/breadcrumb-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 52px 0px 70px;
}
.breadcrumb-section h1 {
	margin-bottom: 0;
	font-size: 35px;
	color: #f9f9fa;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}
.breadcrumb-section h1:after {
	background: #ff7800;
	height: 3px;
	content: "";
	display: block;
	width: 100px;
	margin: 15px 0px 0px
}
.breadcrumb {
	background: none;
	border-radius: 0;
	padding: 4px 0;
	margin: 39px 0px 0px;
}
.breadcrumbs:after {
	height: 1px;
	background: #fff;
	content: "";
	display: block;
	margin: 0px 0px 0px 115px;
	opacity: 0.25;
}
.bc-location {
	margin-top: 39px;
	color: #fff;
}
.bc-location a {
	color: #fff;
}
.bc-location a:hover, .bc-location a:active {
	color: #0093DD;
}
.blog-article {
	margin-bottom: 30px;
}
.blog-article figure {
	margin-bottom: 20px;
}
.blog-article .format-icon {
	left: 0;
}
.blog-article p {
	margin-bottom: 20px;
	line-height: 24px;
}
.blog-article blockquote p {
	line-height: 32px;
}
.blog-article .read-more-link {
	text-transform: uppercase;
	line-height: 23px;
	color: #7d8489;
}
.blog-article .read-more-date {
	display: inline-block;
	background-image: url(/skin/images/calendar.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #1858B2;
    font-family: 黑体;
    font-size: 15px;
}
.blog-article .read-more-link:after {
	content: "\f101";
	font-family: FontAwesome;
	color: #f16543;
	padding-left: 8px;
}
.blog-article .read-more-link:hover {
	color: #373c40;
}
.blog-article .read-more-link:hover:after {
	color: #373c40;
}
.blog-article .post-meta {
	color: #a5aaae;
	font-size: 12px;
	float: left;
	width: 21.97402597402597%;
	border-right: 2px solid #d7dee0;
	margin: 0 30px 15px 0;
}
.blog-article .post-meta a {
	color: #a5aaae;
}
.blog-article .post-meta a:hover {
	color: #f16543;
}
.blog-article .post-meta ul {
	list-style: none;
	margin: 0;
	padding: 0 15px;
}
.blog-article .post-meta ul li {
	margin: 0 0 6px;
	padding: 4px 0;
	text-transform: uppercase;
	background: none;
}
.blog-article .post-meta ul li:before {
	font-family: 'FontAwesome';
	padding-right: 17px;
	font-size: 14px;
	color: #8C9194;
}
.blog-article .post-meta ul li.date:before {
	content: "\f073";
}
.blog-article .post-meta ul li.comments:before {
	content: "\f086";
}
.blog-article .post-meta ul li.tags {
	border: none;
}
.blog-article .post-meta ul li.tags:before {
	content: "\f02b";
}
.blog-article .post-meta ul li.author:before {
	content: "\f007";
}
.blog-article .post-summary {
	padding-right: 10px;
	/*margin-top:45px;*/
}
.blog-article .post-summary p {
	margin-bottom: 10px;
	line-height: 23px;
	color: #666;
}
.blog-article .post-content-wrapper {
	padding: 15px 0 30px;
}
.blog-article .post-meta ul li time {
	background: none;
	margin-left: -3px;
}
.portfolio-item, .gallery-item {
	margin: 0 0 30px;
	overflow: hidden;
}
.portfolio-item .item-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
	color: #4f5458;
	letter-spacing: normal;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.4;
}
.portfolio-item time {
	color: #687075;
}
.portfolio-item span {
	color: #f16543;
}
.portfolio-item .square {
	background-color: #bfc4c8;
}
.related-projects .item .separator, .portfolio-item .separator {
	margin: 30px 0 15px;
	display: none;
}
.portfolio-item figure {
	margin-bottom: 22px;
	position: relative;
}
.portfolio-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #f16543;
}
.portfolio-item .overlay a {
	opacity: 0.8;
	filter: alpha(opacity=80);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	background: url("../images/icon-lense.png") no-repeat center center;
}
.portfolio-item .overlay a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.our-work .gallery-item .inner-contents {
	border-bottom: 1px solid #cad3db;
	border-bottom: none;
}
.our-work .gallery-item {
	margin-bottom: 24px;
}
.our-work .gallery-item figure {
	position: relative;
	margin: 0 0 23px;
	line-height: 1.0;
}
.our-work .gallery-item figure:hover .gallery-btn {
	opacity: 1;
}
.our-work .gallery-item img {
	padding: 0;
	margin: 0;
	max-width: 100%;
	border: 1px #ededed solid;
}
.our-work .gallery-item .gallery-btn {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 200;
	width: 160px;
	margin: -22px 0 0 -79px;
	opacity: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: #B3813C;
}
.our-work .gallery-item .gallery-btn:hover {
	color: #f16543;
	background-color: #ffffff;
}
.our-work .gallery-item .media-container {
	position: absolute;
	z-index: 100;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #B3813C;
}
.our-work .gallery-item .item-title {
	font-size: 15px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0px;
	color: #61676c;
	color: #282828;
	padding-bottom: 0;
	position: relative;
	z-index: 999;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.4;
	text-align: center;
}
.our-work .gallery-item p {
	margin-bottom: 12px;
}
.our-work .gallery-item p a {
	color: #a1a9b0;
	margin-right: 3px;
	text-decoration: none;
}
.our-work .gallery-item p a:hover {
	color: #f16543;
}
.sidebar .widget {
	margin-bottom: 35px;
}
.widget-list li .comments {
	background: none;
	margin-right: 0;
	padding-left: 0;
	padding-top: 3px;
}
.widget-list li figure {
	margin-right: 15px;
}
.widget-list li figure img {
	width: 106px;
	height: auto;
}
.widget .tabbed .widget-list li {
	padding: 0 0 15px;
	margin-bottom: 15px;
}
.widget .tabbed .widget-list li:last-child {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
.widget .widget-list {
	padding-left: 0;
}
.sidebar .widget ul li .s-desc {
	margin-bottom: 8px;
	line-height: 1.5
}
.blog-article {
	float: left;
	width: 100%;
}
.blog-article figure {
	float: left;
	width: 250px;
	margin-right: 25px;
	margin-bottom: 10px;
}
.blog-article figure img{ width:250px;height:180px;/*height:180px !important;*/}
.blog-article .post-meta {
	width: 125px;
	margin: 0 30px 15px 0;
}
.blog-article .post-meta ul {
	padding: 0;
}
h2.post-title {
	font-size: 30px;
	letter-spacing: normal;
	margin-top: 40px;
	margin-bottom: 12px;
	line-height: 1.4;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
.downlist-wrap .blog-article figure {
	width: 220px;
	margin-right: 25px;
}
.download-wrap .d-content {
	padding-top: 15px;
}
.download-wrap .down-info li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px #ddd solid;
}
.blog-post-wrap .bp-desc {
	text-align: center;
	display: block;
	margin: 20px 0;
	font-size: 14px;
}
.blog-post-wrap .bp-title {
	margin-top: 0;
	font-size: 30px;
	font-weight: bolder;
	letter-spacing: normal;
	color: inherit;
	text-align: center;
}
.prolist-wrap .portfolio-item {
	margin-bottom: 17px;
}
.prolist-wrap .model {
	margin-bottom: 5px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.4;
	color: #666;
}
.prolist-wrap .p-keyword {
	color: #666;
	margin-bottom: 0;
}
#contact-form textarea {
	height: 120px;
}
.msg-title {
	font-size: 22px;
	text-align: center;
	margin-bottom: 25px;
	color: inherit;
}
.add-msg-form .cf-column {
	padding-bottom: 20px;
	position: relative;
}
.add-msg-form .cf-tarea {
	clear: both;
}
.add-msg-form input {
	box-sizing: border-box;
	padding: 0 15px;
	border: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	color: #444;
	width: 100%;
	margin-bottom: 0;
}
.add-msg-form textarea {
	box-sizing: border-box;
	border: 1px solid #ddd;
	color: #333;
	min-height: 100px;
	padding: 15px;
	color: #444;
	width: 100%;
	margin-bottom: 0;
}
.add-msg-form .submit-button {
	box-sizing: border-box;
	width: 100%;
	line-height: 40px;
	height: 40px;
	float: right;
	padding: 0px 15px;
	border: 0px;
	color: #fff;
	position: relative;
	background-color: #333;
	cursor: pointer;
}
.add-msg-form .submit-button:hover, .add-msg-form .submit-button:active {
	background-color: #D81919;
}
.add-msg-form em {
	position: absolute;
	bottom: 0;
	z-index: 1111;
	float: left;
	left: 20px;
}
.product-show .ps-title {
	font-size: 23px;
	color: inherit;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	line-height: 1;
}
.product-show .ps-desc {
	display: block;
	text-align: center;
	margin: 17px 0 20px;
	font-size: 14px;
}
.product-show .product-gallery .owl-controls {
	margin-top: 20px;
	text-align: center;
}
.product-gallery {
	margin: 0 -15px;
}
.product-gallery .item {
	padding: 0 15px;
}
.product-gallery img {
	margin-bottom: 1px;
	border: 1px #ededed solid;
}
.proshow-tab {
	margin-top: 20px;
	padding-bottom: 25px;
	padding-bottom: 0;
}
.proshow-tab .nav-tabs li:after {
	display: none;
}
.proshow-tab .nav-tabs .active a {
	color: #D4171E !important;
	text-decoration: none;
}
.proshow-tab .nav-tabs a {
	color: #333 !important;
}
.proshow-tab .tab-content {
	padding-top: 25px;
	width: 100%;
	float: left;
	margin: 0;
}
.proshow-tab .tab-pane {
	margin-top: 0;
}
#product-msg-form input[type="text"], #product-msg-form input[type="password"], #product-msg-form input[type="email"], #product-msg-form input[type="tel"], #product-msg-form input[type="number"], #product-msg-form input[type="file"], #product-msg-form input[type="url"], #product-msg-form select, #product-msg-form textarea {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	line-height: 24px;
	padding: 12px 20px;
	font-size: 13px;
	color: #202020;
	border: 1px solid #dddddd;
	background: #ffffff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
#product-msg-form input[type="text"]:focus, #product-msg-form input[type="password"]:focus, #product-msg-form input[type="email"]:focus, #product-msg-form input[type="tel"]:focus, #product-msg-form input[type="number"]:focus, #product-msg-form input[type="file"]:focus, #product-msg-form input[type="url"]:focus, #product-msg-form select:focus, #product-msg-form textarea:focus {
	border-color: #202020;
}
#product-msg-form .cf-column {
	margin-bottom: 18px;
}
#product-msg-form #submit-btn {
	display: inline-block;
	background: #D4171E;
	color: #202e31 !important;
	color: #fff !important;
	border-radius: 6px;
	padding: 12px;
	border: none;
	cursor: pointer;
	width: 100%;
}
#product-msg-form #submit-btn:hover, #product-msg-form #submit-btn:focus, #product-msg-form #submit-btn:active {
	background: #202E31;
}
.inews-item h3{ 
	border-bottom: solid 2px #E8E8E8;
	padding-bottom: 10px; 
}
.page-left .sub-nav{
	background-color:#FAFAFA;
}
.page-left .sub-nav ul.nav-list li {
   border: none;
}
.page-left .sub-nav ul.nav-list li a{
	display: block;
	line-height: 25px;
	margin-top: 10px;
	color: #666;
	position: relative;
	padding-left:40px;
}
.page-left .sub-nav ul.nav-list li.hover a span{
	color:#151A92;
}
.page-left .sub-nav ul.nav-list li.hover a:before{
	position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 20px;
    height: 25px;
	background-color: #3186d7;
}
.page-left .sub-nav ul.nav-list li a span{
	height: 25px;
	width:auto;
	line-height: 25px;
	font-family: 微软雅黑;
	font-weight: bold;
	color:#000;
	display: inline-block;
}
.page-left .online-apply{
	background: #ECEFF4;
	padding-top: 20px;
	padding-bottom: 20px;
}
.page-left .online-apply .online-apply-title{
	margin-left: 10%;
	font-weight: bold;
	font-size: 14px;
	width: 80%;
	height: auto;
	padding-bottom: 10px;
	border-bottom: solid 3px #181B7C;
}
.page-left .online-apply .online-apply-form
{
	width: 80%;
    margin-left: 10%;
}
.page-left .online-apply .online-apply-form .required{
	color:red;
	font-weight: bold;
	font-size: 16px;
}

.page-left .qrcode{
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ECEFF4;
	text-align: center;
}
/*联系我们*/
.page-right .right-title{
	color: #000;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: solid 1px #E8E8E8;
    padding-bottom: 10px;
}
.page-right .right-content{
	line-height: 30px;
    color: #000;
}
.right-content p { color:#000;}
.page-right .right-content strong{
	color:#000;
}

.page-sidebar{
    position: fixed;
    right: 0;
    top: 50%;
    margin-top:-167px;
    z-index: 1000;
}
.page-sidebar .btn-onlinekf{
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height:20px;
    text-align: center;
    padding: 10px;
    background-color: #ff4401;
    background: linear-gradient(top, #ffa800, #ff4401);
    background: -ms-linear-gradient(top, #ffa800, #ff4401);
    background: -webkit-linear-gradient(top, #ffa800, #ff4401);
    background: -moz-linear-gradient(top, #ffa800, #ff4401);
    margin-bottom: 10px;
}
.page-sidebar dd{
    position: relative;
    margin-bottom: 6px;
    width: 60px;
    height: 60px;
}
.page-sidebar dd a{
    display: block;
    width: 58px;
    height: 58px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.page-sidebar dd i{
    display:block;
    width:50px;
    height:50px;
    margin:3px auto 0px;
    background-image:url(/skin/images/icon-pageside.png);
    background-repeat: no-repeat;
}
.page-sidebar dd em{
	display: block;
    color: #1C2189;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    margin-top: -20px;
    font-weight: bold;
}
.page-sidebar dd .icon-tel{
	background-position: -68px 12px;
}
.page-sidebar dd .icon-online{

	background-position: -68px -48px;
}
.page-sidebar dd .icon-wx{
    background-position: -68px -110px;
}
.page-sidebar dd .icon-returntop{
    
    background-position: -72px -192px;
}

.page-sidebar dd.dd-sidebarcur a{
    border:1px solid #189aed;
    background:#189aed;
}
.page-sidebar dd .layer-wechat{
    position: absolute;
    width: 110px;
    right: 65px;
    top: 0px;
    border: 1px solid #189aed;
    background: #fff;
    padding:5px;
    display: none;
    z-index: 1001;
}
.page-sidebar dd .layer-tel{
	position: absolute;
    width: 120px;
    height: 57px;
    right: 60px;
    top: 0px;
    background: #fff;
    padding: 5px;
    display: none; 
    z-index: 1001;
    line-height: 45px;
    font-weight: bold;
	color: #1C2189;
	text-align: center;
}
.layer-wechat img{
    display: block;
    width: 100px;
    height: 100px;
}
.layer-wechat p{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #666;
}

.page-sidebar dd.dd-sidebarcur .layer-wechat,.page-sidebar dd.dd-sidebarcur .layer-tel{
    display: block;
}
.inews-item {
	margin-right: 2.2%;
}
.inews-item ul.platform-items  li {
    height: auto;
    margin-bottom: 15px;
	clear: both; 
}
.inews-item ul.platform-items  li a{
	display: flex;
	position: relative;
	height: auto;
}
.inews-item ul.platform-items  li a img {
	width: 120px;
	float: left;
	height: 120px;	
}
.inews-item ul.platform-items li a .platform-items-desc
{
	position: absolute;
	top: 0;
	float: left; 
	height: 100%;
	margin-left: 128px;
	overflow: hidden;
}
.platform-items-desc .desc-title,.platform-items-desc .desc-profile{
	width: 100%;
	height: auto;
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-size:16px;
	font-weight: bold;
	color: #000;
	margin: 0;
}
.inews-item .li-more,.options-item .li-more{
	border-top: solid 2px #E8E8E8;
}
.inews-item p.more {
    font-weight: bold;
    text-align: right;
    color: #000;
    float: right;
    width: 50px;
}
.inews-item p.more a{
	font-weight: bold;
	text-align: right;
	color:#000;
}

.options-item{
	margin-right: 2.2%;
}
.options-item h3{ 
	border-bottom: solid 2px #E8E8E8;
	padding-bottom: 10px; 
}
.platform-items-desc p.desc-content{
	width:100%;
	color:#000;
	height: 100%;
    overflow: hidden;
}


.options-item ul.platform-items  li {
    margin-bottom: 19px;
	clear: both;
	height: auto;
	overflow: hidden;

}
.options-item ul.platform-items  li a{
	height: auto;
	display: flex;
	position: relative;
}
.options-item ul.platform-items  li a img {
	width: 120px;
	float: left;
	height: 120px;
}
.options-item .platform-items-desc p.desc-content{
	width: 100%;
    color: #000;
    height: 45%;
    overflow: hidden;
}
.options-item ul.platform-items li a .platform-items-desc
{
	position: absolute;
    top: 0;
	float: left; 
	height: 100%;
	margin-left: 128px;
	overflow: hidden;
}
.options-item p.more{
	font-weight: bold;
	text-align: right;
	color:#000;
	float: right;
	width: 50px;
}
.area-activity-date{
	width:70px;
	height: 100%; 
	min-height: 85px;
	box-shadow: 5px 5px 10px 5px rgba(181,181,245,0.5), -2px 2px 2px 2px rgba(255,255,255,0.1);
}
.area-activity-date-m{
	width: 100%;
	background-color: #090B48; 
	height: 50%;
	min-height: 42px;
	color: #fff;
	font-weight: bold;
	font-family: 黑体;
	line-height: 42px;
	text-align: center;
}
.area-activity-date-d{
	width: 100%;height: 50%;    text-align: center;color: #0159EE;font-family: 黑体;font-weight: bold;font-size: 28px;line-height: 42px;
}
.area-activity-content{
	position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 78%;
    height: 100%;
    margin-left: 5%;
    overflow: hidden;
}
.area-activity-content .desc-title{
	width: 100%;
	height: auto;
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-size:16px;
	font-weight: bold;
	color: #000;
	margin: 0;
}
.area-activity-content .desc-content {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.area-activity-content p.desc-date,.platform-items-desc p.desc-date{
	background-image: url(/skin/images/calendar.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #1858B2;
	font-family: 黑体;
	font-size: 15px;
}
.pages-detail-bottom { text-align: center; margin-top: 50px;}
.pages-detail-bottom a { 
	width: 235px;
    height: 40px;
    border: solid 1px #484862;
    display: inline-block;
    border-radius: 8px;
	line-height: 40px;
	font-weight: bold;
	color: #39488D;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.pages-detail-bottom a:first-child{
	background-image: url("/skin/images/icon-6-blue.png");
	background-repeat:no-repeat;
	background-position-y: -5px;
	text-align: left;
	padding-left: 40px;

}
.pages-detail-bottom a:first-child:hover{
	background-image: url("/skin/images/icon-6.png");
}
.pages-detail-bottom a:last-child{
	background:right 5px center; /*//这样间距从右算起。*/
	background-image: url("/skin/images/icon-7-blue.png");
	background-repeat:no-repeat;
	/*background-position:50px;*/
	text-align: right;
	padding-right: 50px;
	

}
.pages-detail-bottom a:last-child:hover{
	background-image: url("/skin/images/icon-7.png");
}
.pages-detail-bottom a:hover{
	background-color:  #39488D;
	color:#fff;
}

.news-nav-list li a em.news-title{
	width: 180px;
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: normal;
	color:#000;
	font-family: 黑体;
	font-weight: 500;
	font-size: 15px;
}
@media (min-width : 1366px) { /* 960 */
    .news-nav-list li a em.news-title{ width: 150px;}
}
.news-nav-list li a em.news-date{
	display:inline-block;
	overflow: hidden;
	font-style: normal;
	color: #666;
	font-family: 黑体;
}
.wx-login {
	text-align: center;
	width: 645px;
	height: 600px;
	background: #fff;
	margin: 0 auto;
}

.wx-login .wx-login-title{
	padding-top:50px ;
	padding-bottom: 20px;
	background-image: url(/skin/images/wx-icon.png);
	background-repeat: no-repeat;
	background-position: 260px 38px;
	background-size: 40px 40px;
}
.wx-login .wx-login-qrcode{
	width: 350px;
	height: 350px;
	border: solid 1px #D9D9D9;
	margin: 0 auto;
}
.wx-login .wx-login-tips{
	margin-top: 20px;
}
.experts{
	padding-bottom: 20px;
}
.experts img{ 
	width: 235px;
	height: 235px;
	float: left;
}
.experts .experts-content{
	float: left;
	width: auto;
	position: absolute;
	margin-left: 250px;
}
.experts .experts-content .experts-content-title,.experts .experts-content .experts-content-shorttitle {
	color:#000;
	font-weight: bold;
	font-size: 16px;
}
.experts .experts-content .experts-content-shorttitle {
	border-bottom: solid 2px #1D1E78;
	padding-bottom: 10px;
}
.banner-img { width:100%; overflow: hidden; }
.banner-img img{position: relative; left:50%; margin-left: -960px;}
/*.banner-img img{width:100%; height: 350px;}*/
.flexslider{ position: relative; overflow: hidden;}
.flexslider .slides { position: relative; z-index: 1;}
.flexslider .slides li{ display: none; -webkit-backface-visibility: hidden;}
/*.flexslider .slides li a {
	width:1920px; 
    position:absolute;
    left:50%;
    margin-left:-960px; 
}*/
.flexslider .slides li img{ width: 100%; height: auto;}

.flexslider .flex-control-nav { position: absolute; bottom: 24px; z-index: 2; width: 100%; text-align: center; display: hide;}
.flexslider .flex-control-nav li { display: inline-block; width: 10px; height: 10px; margin: 0 11px; *display: inline; zoom: 1;}
.flexslider .flex-control-nav a { display: inline-block; width: 10px; height: 10px; line-height: 60px; overflow: hidden; background: url("/skin/images/i_dot.png") right 0 no-repeat; cursor: pointer;}
.flexslider .flex-control-nav .flex-active { background-position: 0 0;}
.flexslider .flex-direction-nav a{ width:62px; height:100%; line-height: 99em; display:block; overflow:hidden; position:absolute; top:0; right: 0; z-index:10; cursor:pointer;}
.flexslider .flex-direction-nav .flex-prev{ left: 40px; background:url("/skin/images/iBanner_left.png") left center no-repeat;}
.flexslider .flex-direction-nav .flex-next{ right: 40px; background:url("/skin/images/iBanner_right.png") left center no-repeat;}
/* 内页响应 */
@media (max-width : 990px) { /* 960 */
    #innerpage-wrap {
	padding: 30px 0 0;
}
.sidebar .widget:last-child {
	margin-bottom: 30px;
}
.sidebar {
	padding-top: 30px;
	clear: both;
	display: none;
}
.side-search .title {
	display: none;
}
.searchform #s {
	width: 94%;
}
.searchform #searchsubmit {
	width: 6%;
}
.blog-article .read-more-link {
	display: none;
}
.product-show .ps-desc {
	margin: 12px 0 15px;
}
.consult-list .post-summary p {
	line-height: 1.8;
}
}
@media (max-width : 768px) { /* 向下考虑iphone6的667px和736px */
.portfolio-item .item-title {
	position: relative;
	z-index: 999;
}
.our-work .gallery-item .item-title {
	position: relative;
	z-index: 999;
}
.searchform #s {
	width: 92%;
}
.searchform #searchsubmit {
	width: 8%;
}
.product-show .ps-title, .blog-post-wrap .bp-title {
	line-height: 1.6;
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
}
@media (max-width : 740px) { /* 双行，568px,600px,640px */
.bcid-cat {
	text-align: center;
	margin-bottom: 15px;
}
.location {
	text-align: center;
	line-height: 1.4;
}
.side-news {
	display: none;
}
.searchform #s {
	width: 90%;
}
.searchform #searchsubmit {
	width: 10%;
}
.breadcrumb-section {
	padding: 82px 0 40px;
}
.breadcrumb-section .bc-cat {
	text-align: center;
}
.breadcrumb-section h1:after {
	margin: 15px auto 0;
}
.bc-location {
	margin-top: 25px;
	text-align: center;
}
.breadcrumbs:after {
	display: none;
}
.consult-list .post-summary p {
	line-height: 1.4;
}
}
@media (max-width : 480px) {
.searchform #s {
	width: 85%;
}
.searchform #searchsubmit {
	width: 15%;
}
.blog-article figure {
	margin-right: 0;
	width: 100%;
	margin-bottom: 25px;
}
.blog-article .entry-header {
	clear: both;
}
h2.post-title {
	font-size: 17px;
	margin-bottom: 14px;
	text-align: center;
}
.blog-article .post-meta {
	margin: 0 0px 15px 0;
	width: 100%;
	border-right: none;
}
.blog-article .post-meta ul li:before {
	padding-right: 10px;
}
.blog-article .post-meta ul li {
	float: left;
	padding: 0;
	margin: 0 12px 0 0px;
}
.blog-article .entry-content {
	clear: both;
}
.blog-article .post-summary p {
	margin-bottom: 0;
}
.consult-list .blog-article figure {
	margin-right: 0;
	width: 100%;
}
.consult-list .blog-article figure img {
	width: 100%;
}
.proshow-tab .nav-tabs > li {
	width: 100%;
}
.proshow-tab .nav-tabs > li > a {
	border-radius: 0;
}
.proshow-tab .nav-tabs > li > a, .proshow-tab .nav-tabs > li.active > a, .proshow-tab .nav-tabs > li.active > a:hover, .proshow-tab .nav-tabs > li.active > a:focus {
	border: 1px #ddd solid;
	margin-right: 0;
}
}
@media (max-width : 420px) {/* 单行，240px,320px,375px,384px,414px */
.blog-article .post-meta ul li.author {
	display: none;
}
.prolist-wrap .model {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.4;
}
.breadcrumb-section h1 {
	font-size: 30px;
}
}
@media (max-width : 360px) {
.searchform #s {
	width: 80%;
}
.searchform #searchsubmit {
	width: 20%;
}
.prolist-wrap .portfolio-item {
	width: 100%;
}
}
@media (max-width:1440px) and (min-width:1200px) {
.searchform #s {
	width: 82%;
}
.searchform #searchsubmit {
	width: 18%;
}
}
@media (max-width:1200px) and (min-width:1040px) {
.searchform #s {
	width: 78%;
}
.searchform #searchsubmit {
	width: 22%;
}
}

/* responsive */
@media (min-width:1410px) {
.container {
	max-width: 1170px;
	width: 1170px;
}
}
@media (min-width:1570px) {
.container {
	max-width: 1170px;
	width: 1170px;
}
/*nav.main-navigation ul li{padding:20px 15px;}
	.welcome-intro-2 .welcome-to-educa{margin-top:10px;}
	.fabout,.fabout p{line-height:1.8;}
	footer .footer-widget .featured-links ul li{padding-bottom:4px;}
	footer .footer-widget .university-address ul li{margin-bottom:11px;}*/
}
@media (min-width:1890px) {
.container {
	max-width: 1370px;
	width: 1370px;
}
nav.main-navigation ul li {
	padding: 20px 18px;
}
#index-widget .left-images {
	padding-right: 40px;
}
.welcome-intro-2 .welcome-to-educa {
	margin-top: 10px;
	margin-left: 0;
}
.welcome-intro-2 .service-item h4 {
	font-size: 16px;
	padding-top: 25px;
}
.welcome-intro-2 .service-item p {
	font-size: 15px;
	line-height: 1.6;
}
.welcome-intro-2 .section-heading span {
	padding: 10px 0 20px 0;
}
.fabout, .fabout p {
	line-height: 1.5;
}

.foot-about .text-button {
	display: block;
}
footer .footer-widget .featured-links ul li {
	padding-bottom: 4px;
}
footer .footer-widget .university-address ul li {
	margin-bottom: 11px;
}
}
 @media (max-width : 1024px) {
body {
	word-break: break-all;
	word-wrap: break-word
}
.container {
	max-width: 98%;
	width: 98%;
}
.logo img {
	max-height: 40px;
}
nav.main-navigation ul li {
	padding: 20px 7px;
}
}
@media (max-width : 990px) { /* 960 */
.container {
	max-width: 99%;
	width: 99%;
}
#main-header {
	padding: 15px 0;
}
.site-header .main-header .logo {
	line-height: 1;
	padding-right: 0;
}
.header-right-toggle {
	margin: 0;
}
.header-right-toggle a {
	margin-top: 2px;
	line-height: 34px;
	font-size: 18px;
}
nav.responsive-menu a, nav.responsive-menu ul li .sub-menu li a {
	font-size: 13px;
}
nav.responsive-menu ul li .sub-menu .sub-menu {
	display: block;
	width: 100%;
	float: none;
}
.slide-from-left.sidebar-menu-open .sidebar-menu-push {
	transform: translate3d(0px, 0px, 0px);
}
.slide-from-left.sidebar-menu-open .slide-from-left.sidebar-menu {
	visibility: visible;
	display: none;
}
.slide-from-left.sidebar-menu-open .slide-from-left.sidebar-menu {
	z-index: 10000000;
	display: block;
}

.popular-courses .section-heading p, .read-books .section-heading p {
	padding-bottom: 12px;
}
.welcome-intro-2 .section-heading span {
	padding-bottom: 10px;
}
.welcome-intro-2 .service-item {
	margin-bottom: 10px;
}
.welcome-intro-2 .service-item h4 {
	line-height: 1.6;
}
.welcome-intro-2 .welcome-to-educa {
	margin-top: 10px;
}
.iwr-item .service-item {
	border: 1px #ededed solid;
}
.welcome-intro-2 .service-item p {
	margin: 0 15px 15px 15px;
}
.iwr-row {
	margin-left: -25px;
}
.popular-courses .owl-pagination {
	margin-top: 30px;
}
#index-case {
	padding-bottom: 20px;
}
.university-news .news-item .right-content {
	height: auto;
	padding: 0 20px 19px;
}
#footer-sec {
	padding: 30px 0 0;
}
.fabout p {
	margin-bottom: 0;
}
footer .copyright-menu .copyright-text {
	margin: 20px 0;
	line-height: 1.6;
}
footer .copyright-menu .copyright-text p {
	padding: 0;
	margin: 0;
	line-height: 1.6;
}
.cr-left {
	text-align: center;
}
}
@media (max-width : 768px) { /* 向下考虑iphone6的667px和736px */
.popular-courses .course-item .down-content .desc {
	font-size: 13px;
}
.welcome-intro-2 .service-item p {
	font-size: 13px;
}
}
@media (max-width : 740px) { /* 双行，568px,600px,640px */
#index-case {
	padding-bottom: 10px;
}
}
@media (max-width : 480px) {
.iwr-item {
	width: 100%;
}
}
@media (max-width : 420px) {/* 单行，240px,320px,375px,384px,414px */
.inews-item {
	width: 100%;
}
.case-item {
	width: 100%;
}
}
@media (max-width : 360px) {
}
@media (max-width : 768px) { /* 向下考虑iphone6的667px和736px */
	.page-sidebar {
		 display: none;
	}
	.banner-img img {
		    width: 100%;
    height: auto;
    position: inherit;
    left: inherit;
    margin-left: inherit;
	}
	.fabout .fabout-wx{
		width: 48%;
    	display: block;
    	float: left;
    	margin-right: 2%;
	}
	.fabout .fabout-wx img{
		width:100%;
	}
	.page-right .right-title {text-align: center;}
	.right-content { padding-bottom: 50px;}
	.right-content img{width:99%; max-height: 150px;}
	.wx-login{ width: 100%;}
	.wx-login .wx-login-title{background-position: 120px 38px;}
	.pages-detail-bottom a { width:30%;}
	.blog-article .swipebox-x img { width: 100%; height: auto;}
	.blog-article { border-top: dashed 2px #666;padding-top: 10px;}
	.blog-article:first-child{border: none;}
	.experts img{ width: 30%; height: auto;}
	.experts .experts-content{ width: 65%; margin-left: 30%;}
	.experts .experts-content .experts-content-title, .experts .experts-content .experts-content-shorttitle {
		color: #000;
		font-weight: bold;
		font-size: 16px;
		overflow: hidden;
		word-break: break-all;
	}
	#index-widget img{
		width: 100%;
		height: 200px;
	}
	.options-item{width:100%;}
	.options-item h3{text-align: center;}
	.inews-item h3 {text-align: center;}
	.inews-item ul.platform-items li a img {
		width: 7rem;
		max-height: 105px;
	}
	.inews-item ul.platform-items li a .platform-items-desc {
		width: 14rem;
	}
	.options-item ul.platform-items li a img {
	   width: 7rem;
	   max-height: 115px;
	}
	.options-item ul.platform-items li a .platform-items-desc {
		width: 14rem;
	}
	.foot-about {width:100%;}
	.flexslider .slides li img { height: auto;}
	.flexslider .flex-direction-nav .flex-next{ right:5px;}
	.flexslider .flex-direction-nav .flex-prev{left:5px;}
	#index-case .books-item  p.thumb-link{height:auto;}
	#index-case .books-item {height: auto;}
}
